// Your styles go here
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  margin: auto;

  > header {
    > h1 { float: left; }
    > p { float: right; }
  }

  > main {
    display: flex;  
    margin: 0px auto;
    height: 80vh;
    align-items: stretch;

    > article {
      flex: 3 3 0px;
      padding-right: 1.2em;

      > canvas {
        width: 100%;
        max-width: 1000px;
        height: 80vh;
        border: 1px solid rgb(137, 185, 245);
      }
    }
  }

  > footer {
    display: flex;
    padding: 1rem 0;
  }
}
